{% extends 'app/base.html' %}

{% block content %}

<div class="container text-center">

    <form class="form-signin" method="post" action="{% url 'login' %}">

	{% csrf_token %}

        <h1 class="h3 mb-3 font-weight-normal">Please Sign in</h1>
        <label for="id_username" class="sr-only">Username</label>
        {{ form.username }}
        <label for="id_password" class="sr-only">Password</label>
        {{ form.password }}
        <div class="checkbox mb-3">
          <label for="id_remember_me">
              {{ form.remember_me }} Remember me
          </label>
      </div>
        {% if form.errors %}
        <p  class="alert alert-danger" role="alert">
            Your username and password didn't match.
            Please try again.
        </p>
        {% endif %}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted">By Sujan</p>
    </form>
</div>



{% endblock %}
